.overflow{
    height:50%;
    overflow: hidden;
}

.overflow .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.overflow .card-img-bottom:hover {
    transform: scale(1.8);
}